<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flexbox Demo</title>

    <!-- TODO: add link to normalize.css on CDN -->

    <!-- TODO: add link to index.css in the css subdirectory -->

    <!-- TODO: add page icon -->
</head>
<body>
    <header>
        <div class="container">
            <h1>Flexbox Demo</h1>
            <div>
                <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">
                    <!-- information SVG icon from material icons (https://material.io/icons/) -->
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z"/></svg>
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="row">
            <div class="col">1</div>
            <div class="col">2</div>
            <div class="col">3</div>
            <div class="col">4</div>
            <div class="col">5</div>
            <div class="col">6</div>
        </div>
    </main>
</body>
</html>
