/* 
    index.css
    stylesheet for the index.html page
*/

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

/* DONE: tell the browser to include borders and padding in size calculations */
* { box-sizing: border-box;}

/* DONE: constrain the width of <div class="container"> elements to a max of 1140px
and keep the content horizontally-centered with 1rem of padding on left/right */
.container {
    max-width: 1140px;
    text-align: center;
    padding: 0 1rem;
}

/* DONE: set background image of the <header> to `header.jpg` in the `img` directory,
and set text color to white, and ensure the height is at least 200px */
header {
    background-image: url("../img/header.jpg");
}

/* DONE: set the font size of the <h1> in the <header> to 5rem
and the font weight to 200 */
header h1 {
    font-size: 5rem;
    font-weight: 200;
}

/* DONE: set the height of the SVG icon to 3rem */
header svg {
    height: 3rem;
}

/* DONE: make the color of the hyperlink icon white instead of blue
and when it has focus/hover change the color to #FF9800, 
from Material Design Color Palette: 
https://material.io/guidelines/style/color.html#color-color-palette */
a:link svg {
    fill: white;
}
a:hover svg, a:focus svg {
    fill: #FF9800;
}

/* TODO: make the <div class="col"> elements layout side-by-side instead of stacked */

.row {
    display: flex;
}

.col {
    background-color: #FF9800; 
    font-size: 2rem;
    min-height: 150px;
    font-weight: 600;
    color: #FFF;
    display: flex;
    flex: 1;
}

/* TODO: set the background color of every-other <div class="col"> element 
to #E65100 so that we can see where the column begin/end */
.col:nth-child(odd) {
    background-color: #E65100;
}
